/* #B8D8D8 #7A9E9F #4F6367 #EEF5DB #FE5F55 */

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

header {
  background-color: #7A9E9F;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  font-weight: 300;
  padding: 25px;
  text-shadow: 2px 2px gray;

}

#calendar {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.calendar-day {
  background-color: #4F6367;
  border: 2px solid gray;
  color: gray;
  height: 65px;
  flex-grow: 1;
}

.active {
  background-color: #EEF5DB;
  color: #4F6367;
}

h2 {
  margin-top: 5px;
}

#data-section {
  border: 2px solid orange;
}

#article-container {
  border: 1px solid green;
  margin: 20px;
  height: 800px;
}

.left {
  float: left;
  width: 55%;
}

.right {
  float: right;
  width: 45%;
}

.trackers {
  background-color: #7A9E9F;
  border: 2px solid orange;
  height: 200px;
  display: flex;
  flex-direction: row;
}

.single-tracker {
  flex-grow: 1;
  text-align: center;
  border: 1px solid pink;
}

.tracker-icon {
  margin-top: 10px;
}

.records {
  background-color: #7A9E9F;
  border: 2px solid orange;
  height: 400px;
  color: #4F6367;
  font-weight: 700;
}

#avatar {
  height: 100%;
  display: inline-block;
}

#records-container {
  display: inline-block;
}

#records-header {
  font-size: 1.5em;
  margin: 20px;
}

table {
  font-size: 1.5em;
  font-weight: 300;
}

td {
  border: 1px solid yellow;
}

.table-r {
  width: 90px;
  text-align: right;
}

.upcoming {
  background-color: gray;
  border: 2px solid red;
  height: 450px;
  text-align: center;
}

#upcoming-header {
  font-size: 1.5em;
  color: #EEF5DB;
}

.upcoming-card {
  background-color: #B8D8D8;
  margin: 20px auto;
  width: 80%;
  padding: 10px;
}

.widgets {
  background-color: #B8D8D8;
  border: 2px solid red;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#widgets-header {
  color: #4F6367;
  font-size: 1.5em;
  margin-left: 40px;
}

footer {
  display: none;
}

@media screen and (max-width: 500px) {

  footer {
    display: block;
  }

}
